// Global Components
html,
body {
    height: 100%;
    width: 100%;
}

body {
    .serif-font;
    overflow-x: hidden;
    font-family: 'gandhi_sansregular', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

div#qLtempOverlay {
    z-index: -999 !important;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 1;
   background-color: #fff;
   z-index: 9999999;
   text-align: center;

   .nice-transition();

    @keyframes loadinglogo {
        from {max-width: 650px; opacity: 0.5;}
        to {max-width: 500px; opacity: 1;}
    }

   .loading-logo {
        max-width: 500px;
        opacity:1;
        width:90%;
        animation-name: loadinglogo;
        animation-duration: 2s;
        padding: 20px;

        -webkit-transform: translateY(-50px);
        -moz-transform:    translateY(-50px);
        -ms-transform:     translateY(-50px);
        -o-transform:      translateY(-50px);
        transform:         translateY(-50px);

   }
}

hr {
    border-color: @theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    .transition-all;
    color: @theme-primary;
    &:hover,
    &:focus {
        color: darken(@theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'gandhi_sansregular', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
    background-color: @theme-primary;
}

.bg-dark {
    background-color: @theme-dark;
    color: white;
}

.text-faded {
    color: fade(white, 70%);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation

#mainNav {
    display: block;
    .container-fluid {
         max-width: 1300px;
    }
    -webkit-box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.36);
    box-shadow: 0px 10px 15px -4px rgba(0,0,0,0.36);
   
}

.navbar-default {
    background: url('/images/nav_bg.jpg') repeat;
    /*background-position-x: -60%;*/
    background-size: contian;
    height: 70px;
    .sans-serif-font;
    .transition-all;
    .navbar-header .navbar-brand {
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        .sans-serif-font;
        &:hover,
        &:focus {
            color: darken(@theme-primary, 10%);
        }

        img {
            height:50px;
            margin-top: -7px;
        }
    }

    .nav {
        li {
            a.social-icons, a.social-icons:focus {
                font-size: 12px !important;
                padding: 0 !important;
                top: 20px;
                width: 30px;
                height: 30px;
                display: block;
                overflow: hidden;
                line-height: 28px;
                text-align: center;
                border: 2px solid #000;
                background-color: rgba(255,255,255,0.2);
                border-radius: 50%;
                color: #000 !important;
                cursor: pointer;
                margin-left:10px;
        
                  -webkit-tap-highlight-color: rgba(0,0,0,0);
                  -webkit-tap-highlight-color: transparent; /* For some Androids */

                &:hover {
                    background-color: #000 !important;
                    color: #fff !important;
                }
            }
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
                color: #000000 !important;
                padding-top: 25.5px;
                padding-bottom: 25.5px;
                &:hover {
                    background-color: #000 !important;
                    color: #fff !important;
                }
            }
            &.active {
                > a
                > a:focus {
                    background-color: #000 !important;
                    color: #fff !important;
                    &:hover {
                        color: #e8e8e8 !important;
                    }
                }
            }
        }
    }

    .nav {
        li {
            a.active {
                background-color: #000 !important;
                color: #fff !important;
                &:hover {
                    color: #e8e8e8 !important;
                }
            }
        }
    }

    .navbar-toggle {
        padding:20px;
        border: none;

          -webkit-tap-highlight-color: rgba(0,0,0,0);
          -webkit-tap-highlight-color: transparent; /* For some Androids */

        .nice-transition();

        .icon-bar {
            background-color: @dark-color;
        }

        &:hover, &:focus {
            background-color: transparent;
            border-radius: 0px;
        }
        &:active{
            background-color: @dark-color;
            .icon-bar {
                background-color: #fff;
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: fade(white, 30%);
        .navbar-header .navbar-brand {
            color: fade(white, 70%);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: fade(white, 70%);
            &:hover {
                color: white;
            }
        }
    }
}

// Sections

#about, #aspire, #methods {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

#about, #methods {
    color: @dark-color;

    p {
        font-size: 22px;
    }

    ul {
        font-size: 17px;
    }

    .btn {
        border: 2px solid @dark-color;
        color: @dark-color;

        &:hover {
            color: #fff;
            background-color: @dark-color;
        }
    }

    .btn-xl {
        padding: 15px 60px;
        font-size: 16px;
    }
}

#about {
    background: url('/images/wall_bg@2X.jpg') repeat;
    background-size: contain;

    -webkit-box-shadow: 0px -10px 15px -4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px -10px 15px -4px rgba(0,0,0,0.36);
    box-shadow: 0px -10px 15px -4px rgba(0,0,0,0.36);

    .video {
        max-width:560px; 
        width:100%;

        .nice-transition();
        
    }

    .info {
        /*margin-top: 30px !important;*/
        .nice-transition();
    }

    .temp {
        font-size: 40px;
        padding: 40px 0px;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }

    @media only screen and (max-width: 1200px) {
        .info {
           /* margin-top: -12px !important;*/

            p {
                margin-bottom: 10px !important;
            }
        }
    }

    @media only screen and (max-width: 992px) {
        .info {

           /* margin-bottom: 40px !important;*/
            padding-left: 20px !important;
        }

        .temp {
            font-size: 30px;
        }
    }

    @media only screen and (max-width: 400px) {
        .info {
            h2 {
                font-size: 26px;
            }

            p {
                font-size: 18px;
                margin-bottom: 7px;
            }

            ul {
                font-size: 15px;
            }
        }
        .temp {
            font-size: 26px;
            padding: 20px 0px !important;
        }
    }
}

#aspire {
    background-image: url('/images/bg3.jpg');
    color:#fff;

    -webkit-box-shadow: inset 0px 10px 15px -4px rgba(0,0,0,0.36);
    -moz-box-shadow: inset 0px 10px 15px -4px rgba(0,0,0,0.36);
    box-shadow: inset 0px 10px 15px -4px rgba(0,0,0,0.36);

    .info {
        padding-left: 70px;
        h1 {
            font-size: 70px;

            span {
                border-bottom: 2px solid #fff;
            }
        }

        .btn {
            margin-top:50px;
            margin-left:10px;
        }
    }

    .aspireCard {
        .nice-transition();

        img {
            .nice-transition();
        }
    }
    
    @media only screen and (max-width: 1280px) {
        .aspireCard {
            -webkit-transform: translateX(-100px) !important;
            -ms-transform: translateX(-100px) !important;
            transform: translateX(-100px)!important;
        }
    }
    @media only screen and (max-width: 1165px) {
        .aspireCard {
            -webkit-transform: translateX(0px) !important;
            -ms-transform: translateX(0px) !important;
            transform: translateX(0px) !important;
            img {
                width: 90% !important;
            }
        }
    }
    @media only screen and (max-width: 600px) {
        .aspireCard {
            img {
                width: 700px !important;
                -webkit-transform: translateX(-100px) !important;
                -ms-transform: translateX(-100px) !important;
                transform: translateX(-100px) !important;
            }
        }

        .info {
            h1 {
                font-size: 50px !important;
            }

            .btn {
                margin-top:30px !important;
            }      
        }

    }

    @media only screen and (max-width: 520px) {
        .aspireCard {
            img {
                -webkit-transform: translateX(-170px) !important;
                -ms-transform: translateX(-170px) !important;
                transform: translateX(-170px) !important;
            }
        }

        .info {
            padding-left: 0px !important;

        }
    }

    @media only screen and (max-width: 430px) {
        .aspireCard {
            img {
                width: 600px !important;
            }
        }
    }

    @media only screen and (max-width: 360px) {
        .aspireCard {
            img {
                width: 450px !important;
                -webkit-transform: translateX(-100px) !important;
                -ms-transform: translateX(-100px) !important;
                transform: translateX(-100px) !important;
            }
        }
    }

}

#quote {
    background: url('/images/wall_bg_dark@2X.jpg') repeat;
    background-size: contain;
    color: #fff;
}



    .info {
        padding-left: 70px;
        h1 {
            font-size: 70px;
        }

        .btn {
            margin-top:50px;
            margin-left:10px;
        }
    }

#methods {
    background: url('/images/features-1.jpg') no-repeat top left;
    height:100%;

    -webkit-box-shadow: 0px -10px 15px -4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px -10px 15px -4px rgba(0,0,0,0.36);
    box-shadow: 0px -10px 15px -4px rgba(0,0,0,0.36);

    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;

        .info {
            padding-left: 70px;

            .section-heading {
                font-size: 34px;
                margin:0;
                line-height: 1.4em;

                span {
                    border-bottom: 2px solid @dark-color;
                }
            }

            .btn {
                margin-left:0px;
            }
        }
    }

    @media only screen and (max-width: 900px) {
        background-position-x: 10%;
    }

    @media only screen and (max-width: 520px) {
        background-position-x: 20% !important;
        .info {
            padding-left: 0px !important;

        }
    }

    .nice-transition();
}

#agency {
    background: url('/images/bg5.jpg');
    background-size: cover !important;
    background-position-y: 30%;
    background-repeat: no-repeat;
    color:#fff;
   /* height: 100%;*/
    max-height: 500px;
    background-color: #1d1e2e;
    padding: 200px 0px !important;
        -webkit-box-shadow: inset 0px 10px 15px -4px rgba(0,0,0,0.36);
        -moz-box-shadow: inset 0px 10px 15px -4px rgba(0,0,0,0.36);
        box-shadow: inset 0px 10px 15px -4px rgba(0,0,0,0.36);

    .col-md-8 {
        position: relative;
        -webkit-transform: translateY(80%) !important;
        -ms-transform: translateY(80%) !important;
        transform: translateY(80%) !important;
    }

    .col-md-4 {
        margin-left: -15px;
        img {
            width: 100%;
            max-height: 700px;
            max-height: 500px;
            position: relative;
        }
    }

    .section-heading {
        font-size: 40px;

        span {
            border-bottom: 2px solid #fff;
        }
    }

    @media only screen and (max-width: 650px) {
        padding: 100px 0px !important;

        .section-heading {
            font-size: 30px !important;
        }
    }
   @media only screen and (max-width: 490px) {
        padding: 80px 0px !important;

        .section-heading {
            font-size: 24px !important;
        }
    }
}

#contact {
    padding: 0;
}

footer {
    background-color: #1f1e2d;
    color:#fff;
    p {
        margin:10px 0px !important;
        font-size: 14px;
    }
    @media only screen and (max-width: 335px) {
        .text-right, .text-left {
            text-align: center !important;
            float: none !important;
        }
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: fade(@theme-primary, 90%);
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        .transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                .sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: @theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    .button-variant(@theme-dark;white;white);
}

.btn-primary {
    .button-variant(white;@theme-primary;@theme-primary);
}

.btn {
    .sans-serif-font;
    border: 2px solid #fff;
    border-radius: 0px;
    font-weight: 700;
    background: transparent;
    text-transform: uppercase;
    color: #fff;

    &:hover {
        color: #000;
    }

    i {
        margin-left:15px;
    }

}

.btn-xl {
    padding: 15px 60px;
    font-size: 16px;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: @theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: @theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    webkit-tap-highlight-color: @theme-dark;
}

.parallaxParent {
    height: 100vh;
    overflow: hidden;
}
.parallaxParent > * {
    height: 200%;
    position: relative;
    top: -100%;
}