@media (max-height: 678px) and (max-width: 684px){
	body {
		font-size: 12px !important;
	}

	#coffee {
		width: 250px;
		left:50%!important;
		transform:translateX(-50%)!important;
		bottom: 0px !important;
	}

}

@media (max-width: 561px){
	body {
		font-size: 10px !important;
	}
	
	.section-content {
		top:20px !important;
		left:20px !important;
		margin-right:20px !important;
		text-align: center;
	}

	#coffee {
		width: 200px;
		bottom: 0px !important;
	}
}
