<section id="agency">
   
    @@include('./sliderCtrl.html')

    
    <div class="sliderWrapper">
        <!--  ======================================================
            SLIDE 1
        ==========================================================-->
        <div class="container agency-slide-1 slide-1 slide">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading agency-item">You don't need a marketing agency.</h2>
                    <h2 class="section-heading agency-item">You need a marketing partner.</h2>
                    <br>
                    <a href="#" class="btn btn-default btn-xl agency-item slide-right">Read More<i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <!--  ======================================================
            SLIDE 2
        ==========================================================-->
        <div class="container agency-slide-2 slide-2 slide">
        
            <div class="row">
                <div class="col-md-10 col-md-offset-1" style="padding:0;">
                    <a ontouchstart="return true;" class="slide-left back-btn btn btn-default"><i class="fa fa-long-arrow-left"></i>Back</a>
                </div>
            </div>      
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <p>
                        Echo park plaid kickstarter photo booth fingerstache blog. Put a bird on it aesthetic flexitarian mustache. Kombucha chambray distillery cronut authentic green juice vice locavore fingerstache. Pabst ennui kale chips yr hella everyday carry.
                    </p>
                    <p>
                        Jean shorts everyday carry kickstarter, hammock fashion axe cronut paleo street art. Austin intelligentsia mustache, retro salvia occupy.
                    </p>
                    <p>
                        Distillery cliche synth, cred butcher lo-fi ennui sustainable - literally wolf cardigan waistcoat, pitchfork meggings.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>