<section id="agency">

    <% include sliderCtrl.ejs %>

    <div class="sliderWrapper">
        <!--  ======================================================
            SLIDE 1
        ==========================================================-->
        <div class="container agency-slide-1 slide-1 slide">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading agency-item">You don't need a marketing agency.</h2>
                    <h2 class="section-heading agency-item">You need a marketing partner.</h2>
                    <br>
                    <a href="#" class="btn btn-default btn-xl agency-item slide-right">Read More<i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <!--  ======================================================
            SLIDE 2
        ==========================================================-->
        <div class="container agency-slide-2 slide-2 slide">

            <div class="row">
                <div class="col-md-10 col-md-offset-1" style="padding:0;">
                    <a ontouchstart="return true;" class="slide-left back-btn btn btn-default"><i class="fa fa-long-arrow-left"></i>Back</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <p>
                       Signature Design is a full-service agency that wants to provide your business with a full-service partner. We started our company to help you solve specific problems – that hinder you from achieving a greater success than you currently reflect.
                    </p>
                    <p>
                        We are passionate that it is your duty to do everything in your power to be the best at whatever you do. It is our obligation to make sure the market knows you and perceives you as such.
                    </p>
                    <p>
                        We will gain and keep your partnership – by proving our irreplaceable value to your businesses growth.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
