<section id="agency">
    <ul class="sliderCtrl">
        <li>
            <a class="active">First</a>
        </li>
        <li>
            <a>Second</a>
        </li>
    </ul>
    <div class="sliderWrapper">
        <!--  ======================================================
            SLIDE 1
        ==========================================================-->
        <div class="container agency-slide-1">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading agency-item">You don't need a marketing agency.</h2>
                    <h2 class="section-heading agency-item">You need a marketing partner.</h2>
                    <br>
                    <a href="#" class="btn btn-default btn-xl agency-item">Read More<i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <!--  ======================================================
            SLIDE 2
        ==========================================================-->
        <div class="container agency-slide-2 hide">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Echo park plaid kickstarter photo booth fingerstache blog. Put a bird on it aesthetic flexitarian mustache. Kombucha chambray distillery cronut authentic green juice vice locavore fingerstache. Pabst ennui kale chips yr hella everyday carry.
                    </p>
                    <p>
                        Jean shorts everyday carry kickstarter, hammock fashion axe cronut paleo street art. Austin intelligentsia mustache, retro salvia occupy.
                    </p>
                    <p>
                        Distillery cliche synth, cred butcher lo-fi ennui sustainable - literally wolf cardigan waistcoat, pitchfork meggings.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>