<section id="aspire">
    
    @@include('./sliderCtrl.html')

    <div class="sliderWrapper">
        <!--  ======================================================
            SLIDE 1
        ==========================================================-->
        <div class="container-fluid aspire-slide-1 slide-1 slide">
            <div class="row">
                <div class="col-md-12">
                	<div class="col-md-4 info">
                        <h1 class="aspire-item section-heading" style="position:relative;">Let's</h1>
                        <h1 class="aspire-item section-heading" style="position:relative;">Aspire</h1>
                        <h1 class="aspire-item section-heading" style="position:relative;">Together.</h1>
                        <a  class="btn btn-default btn-xl aspire-item slide-right" style="position:relative;" ontouchstart="return true;">
                            Read More <i class="fa fa-long-arrow-right"></i>
                        </a>
                	</div>
                    <div class="col-md-8 aspireCard">
                    	<img style="min-width:100%;width:auto;" src="images/aspire_card.png" alt=" ">
                    </div>
                </div>
            </div>
        </div>

        <!--  ======================================================
            SLIDE 2
        ==========================================================-->
        <div class="container-fluid aspire-slide-2 slide-2 slide">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8 info">
                        <h1>What do you Aspire for?</h1>
                        <div class="sub-text">
                            <p>We Aspire to tell your story with passion and purpose - producing the best results.</p>
                            <p>We Aspire to know your audience - and make certain your audience knows you.</p>
                            <p>We Aspire to provide you with more than what you expect - but exactly what you need.</p>
                            <p>We Aspire to work on all levels of your business - and provide our best work every step of the way.</p>
                            <p>We Aspire to be your marketing partner.</p>
                            <h2>Let's Aspire Together.</h2>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>