    <header id="header">
        <div class="container-fluid" style="position:absolute;left:0; top:0; max-width:1600px; width:100%;">
            <div class="row">
        		<img class="header-item" id="growth" src="images/growth.png" alt=" ">
        		<img class="header-item" id="coffee" src="images/coffee.png" alt=" ">
        		<img class="header-item" id="notebook" src="images/notebook.png" alt=" " >
        		<img class="header-item" id="ipad" src="images/ipad.png" alt=" ">
        		<img class="header-item" id="iphone" src="images/iphone.png" alt=" ">
        		<img class="header-item" id="books" src="images/books.png" alt=" ">
            </div>
        </div>

    </header>