<!--<div id="loading"></div>-->

<!--<div id="signature-wrapper">
  

  <div class="panels" id="section-2" style="background-color:#fff; height:500px; position:relative;"></div>
</div>-->

<div id="signature-wrapper">
  <nav id="mob-nav">
    
    <img class="nav-logo" src="images/logo.png" alt="Signature Design">
      
      <a href="#" class="mob-menu">
          <span class="l"></span>
          <span class="l"></span>
          <span class="l"></span>
      </a>


  </nav>
 






  <div id="section-1" class="panels">
    <div class="section-bg"></div>
    <div class="section-content">
      <img id="tagline-growth" src="images/growth@2X.png" alt=" ">
      <img id="coffee" src="images/coffee@2X.png" alt=" ">
      <img id="notebook" src="images/notebook@2x.png" alt=" "> 
    </div>
  </div>

    <div id="section-2" class="panels">
      <div class="section-bg"></div>
      <div class="section-content">
        <p class="section-lead">Signature Design’s mission & vision are unique to each client.</p>
        
        <p class="marketing-partners">By Becoming your marketing partners:</p>
        <ul>
          <li>Your goals are our goals.</li>
          <li>Your brand is our business.</li>
          <li>Your business is our brand.</li>
          <li>Your successs is our focus.</li>
          <li>Your acheivements are our success.</li>
        </ul>

        <div class="videoWrapper">
          <img src="images/video-holder.png" alt=" ">
        </div>
      </div>
    </div>

    <div id="section-3" class="panels">We Aspire</div>
    <div id="section-4" class="panels">Our Methods</div>
    <div id="section-5" class="panels">Our Agency</div>
    <div id="section-6" class="panels">Our Team</div>
    <div id="section-7" class="panels">Contact</div>
</div>