<!--<div id="loading"></div>-->

<!--<div id="signature-wrapper">
  

  <div class="panels" id="section-2" style="background-color:#fff; height:500px; position:relative;"></div>
</div>-->

<div id="signature-wrapper">
 
  <div id="section-1" class="panels">
    <div class="section-bg" style="background-image: url('images/section1.jpg');">
      <img id="coffee" src="images/s1-coffee.png">
      <img id="ipad" src="images/s1-ipad.png">
      <img id="notebook" src="images/s1-notebook.png">
      <img id="iphone" src="images/s1-iphone.png">
      <img id="mags" src="images/s1-mags.png">
    </div>
    <div class="section-content">
      <h2>The coffee is for you.</h2>
      <h5 style="margin-top:40px;">We're still working on getting on the web.</h5>
      <h5>Check back soon!</h5>
    </div>
  </div>

    <div id="section-2" class="panels">Our Mission & Video</div>
    <div id="section-3" class="panels">We Aspire</div>
    <div id="section-4" class="panels">Our Methods</div>
    <div id="section-5" class="panels">Our Agency</div>
    <div id="section-6" class="panels">Our Team</div>
    <div id="section-7" class="panels">Contact</div>
</div>