<section id="methods">
    
    <ul class="sliderCtrl">
        <li>
            <a class="active">First</a>
        </li>
        <li>
            <a class="slide-right">Second</a>
        </li>
    </ul>
    <div class="sliderWrapper">
        <!--  ======================================================
            SLIDE 1
        ==========================================================-->
        <div class="container-fluid methods-slide-1 slide slide-1">
            <div class="row">
                <div class="col-md-6 text-left">
                    <h2 class="section-heading method-item">Our methods</h2>
                    <h2 class="section-heading method-item">are fueled by</h2>
                    <h2 class="section-heading method-item">creativity &amp; strategy,</h2>
                    <h2 class="section-heading method-item">that simply</h2>
                    <h2 class="section-heading method-item">make sense.</h2>
            		<a href="#" class="btn btn-default btn-xl method-item slide-right">Read More<i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        
        <!--  ======================================================
            SLIDE 2
        ==========================================================-->
        <div class="container-fluid methods-slide-2 slide slide-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 pull-left">
                        <div class="box">
                            <h1>Marketing</h1>
                            <p>
                                Salvia vice DIY, green juice bicycle rights bitters artisan cronut cold-pressed chambray cornhole. Pork belly forage small batch kombucha trust fund everyday carry gentrify listicle. Schlitz 8-bit listicle, narwhal jean shorts tilde butcher williamsburg kale chips skateboard cred chartreuse brunch.
                            </p>
                        </div>
                        <div class="box">
                            <h1>Advertising</h1>
                            <p>
                                Salvia vice DIY, green juice bicycle rights bitters artisan cronut cold-pressed chambray cornhole. Pork belly forage small batch kombucha trust fund everyday carry gentrify listicle.
                            </p>
                        </div>
                        <div class="box">
                            <h1>Consulting</h1>
                            <p>
                                Salvia vice DIY, green juice bicycle rights bitters artisan cronut cold-pressed chambray cornhole. Pork belly forage small batch kombucha trust fund everyday carry gentrify listicle. Schlitz 8-bit listicle.
                            </p>
                        </div>
                        <div class="box">
                            <h1>Branding</h1>
                            <p>
                                Salvia vice DIY, green juice bicycle rights bitters artisan cronut cold-pressed chambray cornhole. Pork belly forage small batch kombucha trust fund everyday carry gentrify listicle.
                            </p>
                        </div>
                    </div><!-- .left -->
                    
                    <div class="col-md-6 pull-right">
                        <div class="box">
                            <h1>Graphic Design</h1>
                            <p>
                                Salvia vice DIY, green juice bicycle rights bitters artisan cronut cold-pressed chambray cornhole. Pork belly forage small batch kombucha trust fund everyday carry gentrify listicle. Schlitz 8-bit listicle, narwhal jean shorts tilde butcher williamsburg kale chips skateboard cred chartreuse brunch.
                            </p>
                        </div>
                        <div class="box">
                            <h1>Web Design &amp; Development</h1>
                            <p>
                                Salvia vice DIY, green juice bicycle rights bitters artisan cronut cold-pressed chambray cornhole. Pork belly forage small batch kombucha trust fund everyday carry gentrify listicle.
                            </p>
                        </div>
                        <div class="box">
                            <h1>Strategy</h1>
                            <p>
                                Salvia vice DIY, green juice bicycle rights bitters artisan cronut cold-pressed chambray cornhole. Pork belly forage small batch kombucha trust fund everyday carry gentrify listicle. Schlitz 8-bit listicle.
                            </p>
                        </div>
                        <div class="box">
                            <h1>Sales Training</h1>
                            <p>
                                Salvia vice DIY, green juice bicycle rights bitters artisan cronut cold-pressed chambray cornhole. Pork belly forage small batch kombucha trust fund everyday carry gentrify listicle.
                            </p>
                        </div>
                    </div><!-- .right -->
                </div>
            </div>
        </div>
    </div>
</section>