<section id="methods">

    <% include sliderCtrl.ejs %>

    <div class="sliderWrapper">
        <!--  ======================================================
            SLIDE 1
        ==========================================================-->
        <div class="container-fluid methods-slide-1 slide slide-1">
            <div class="row">
                <div class="col-md-6 text-left">
                    <h2 class="section-heading method-item">Our methods</h2>
                    <h2 class="section-heading method-item">are fueled by</h2>
                    <h2 class="section-heading method-item">creativity &amp; strategy,</h2>
                    <h2 class="section-heading method-item">that simply</h2>
                    <h2 class="section-heading method-item">make sense.</h2>
            		<a href="#" class="btn btn-default btn-xl method-item slide-right">Read More<i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!--  ======================================================
            SLIDE 2
        ==========================================================-->
        <div class="container-fluid methods-slide-2 slide slide-2">
            <div class="row">
                <div class="col-md-11">
                    <div class="col-md-6 pull-left">
                        <div class="box">
                            <h1>Marketing</h1>
                            <p>
                                Want to admit it or not – this is the most important aspect to your businesses growth or decline. We are experts at providing your business with a measurable competitive advantage. Below lists some of the methods we use to take you from competing, to dominating your market.
                            </p>
                        </div>
                        <div class="box">
                            <h1>Advertising</h1>
                            <p>
                                We are the best at telling your companies story – to your target audience – through results driven advertising development and positioning.
                            </p>
                        </div>
                        <div class="box">
                            <h1>Consulting</h1>
                            <p>
                                We will help you determine the goals for your business. We formulate the steps and processes to achieve your goals in the most possible and cost effective way.
                            </p>
                        </div>
                        <div class="box">
                            <h1>Branding</h1>
                            <p>
                                Signature design will finally allow your business to break through the obscurity barrier and provide you with the highest perceived value – to your audience.
                            </p>
                        </div>
                    </div><!-- .left -->

                    <div class="col-md-6 pull-right">
                        <div class="box">
                            <h1>Graphic Design</h1>
                            <p>
                                Our abilities are second to none, as we transform a mental idea, to a unique pen-pointed design.
                            </p>
                        </div>
                        <div class="box">
                            <h1>Web Design &amp; Development</h1>
                            <p>
                                We design your website to most effectively fit your brand. We meditate on your goals and desired outcome – while developing your greatest online asset.
                            </p>
                        </div>
                        <div class="box">
                            <h1>Creative & Strategy</h1>
                            <p>
                                Our creative and strategic process builds business – not just ideas. We offer an out of the box way of thinking to reflect your business goals. We keep our work committed to the cause with a well designed strategy – to ensure maximum results.
                            </p>
                        </div>
                        <div class="box">
                            <h1>Sales Training</h1>
                            <p>
                                You are all sales people – it’s the facts. However, you are not all educated enough to be the most successful sales team in the market. With our sales training, you will be developed into the most effective sales force in your area of business. Period!
                            </p>
                        </div>
                        <!--
                        <div class="box">
                            <h1>Photography</h1>
                            <p>
                              Cheryl Burns Photography is our in-house photographer for your business needs. We will shoot on location, at events or in our studio. We are able to capture anything needed to show the value and quality of your business.
                            </p>
                        </div>
                        -->
                    </div><!-- .right -->
                </div>
            </div>
        </div>
    </div>
</section>
