<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!--
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="javascript:void(0);" ontouchstart="return true;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            -->
            <a class="navbar-brand page-scroll" href="#page-top">
            	<img src="images/nav_logo.png" alt="Signture Design">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
               <li>
                    <a class="page-scroll home-tab" href="#page-top">Home</a>
                </li>
                <li>
                    <a class="page-scroll about-tab" href="#about">About Us</a>
                </li>
                <li>
                    <a class="page-scroll aspire-tab" href="#aspire">Aspire</a>
                </li>
                <li>
                    <a class="page-scroll methods-tab" href="#methods">Our Methods</a>
                </li>
                <li>
                    <a class="page-scroll agency-tab" href="#agency">Our Agency</a>
                </li>
                <li>
                    <a class="page-scroll contact-tab" href="#contact">Contact</a>
                </li>
                <li>
                    <a class="social-icons" href="https://www.facebook.com/signaturedesignllc" ontouchstart="return true;" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a class="social-icons" href="https://www.google.com/maps/place/Signature+Design+Marketing+%26+Advertising+Agency/@39.833807,-84.8941896,17z/data=!3m1!4b1!4m2!3m1!1s0x884000fbed48c8d9:0x34cf7aef27fc629" ontouchstart="return true;" target="_blank"><i class="fa fa-map-marker"></i></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>