<ul class="sliderCtrl">
    <li>
        <a ontouchstart="return true;" class="slide-left dot active">First</a>
    </li>
    <li>
        <a ontouchstart="return true;" class="slide-right dot">Second</a>
    </li>
    <li>
        <a ontouchstart="return true;" class="slide-left back-btn btn btn-default"><i class="fa fa-long-arrow-left"></i>Back</a>
    </li>
</ul>