<div class="row text-center">


    <div class="col-xs-6 side side-left">
        <div class="intro-content">
            <div class="profile splitProfile-item">
                <img src="images/devon_profile.jpg" alt="Devon Sams">
            </div>
            <div class="intro-info">
                <h1 class="splitProfile-item">Devon Sams</h1>
                <hr class="splitProfile-item"/>
                <h2 class="splitProfile-item">Senior Web Engineer</h2>
                <p class="splitProfile-item">
                    <i class="fa fa-envelope-o"></i>
                    <br />
                    <span>devonsams@signaturedesign.us</span>
                </p>
            </div>
        </div>
    </div><!-- side-left -->



    <div class="col-xs-6 side side-right">
        <div class="intro-content">
            <div class="profile splitProfile-item">
                <img src="images/arron_profile.jpg" alt="Arron Stanton">
            </div>
            <div class="intro-info">
                <h1 class="splitProfile-item">Aaron Stanton</h1>
                <hr class="splitProfile-item" />
                <h2 class="splitProfile-item">Creative Director</h2>
                <p class="splitProfile-item">
                    <i class="fa fa-envelope-o"></i>
                    <br />
                    <span>stanton@signaturedesign.us</span>
                </p>
            </div>
        </div>
    </div><!-- side-right -->




</div><!-- First .row .text-center -->