<div ontouchstart="return true;" class="video-modal-opened video-modal-close-trigger" id="video-modal">
    <button ontouchstart="return true;" type="button" class="video-modal-close-trigger" id="video-modal-close" data-dismiss="modal">Close</button>
   
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9Sc-ir2UwGU?rel=0"></iframe>
            </div>
          </div>
        </div>
    </div>
</div><!-- .video-modal-open -->

